<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/pages/errors/404.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>about</servlet-name>
        <jsp-file>/pages/legal/about.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>about</servlet-name>
        <url-pattern>/about/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>credits</servlet-name>
        <jsp-file>/pages/legal/credits.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>credits</servlet-name>
        <url-pattern>/credits/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>terms</servlet-name>
        <jsp-file>/pages/legal/terms.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>terms</servlet-name>
        <url-pattern>/terms/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>privacy</servlet-name>
        <jsp-file>/pages/legal/privacy.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>privacy</servlet-name>
        <url-pattern>/privacy/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>wave</servlet-name>
        <jsp-file>/pages/wave/wave.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>wave</servlet-name>
        <url-pattern>/wave/*</url-pattern>
    </servlet-mapping>

</web-app>
